@import '../../../components/stylus_lib'

.layout__content__main--console
  monospace()
  min-height 100%
  position relative
  width 100%
  padding 20px

.layout__content__main--console__columns
  color #000

h2.monolith-header
  font-size 18px
  background-color gray-lightest-color
  padding 4px
  font-weight normal

h3.online-status
  font-weight normal
  color green-color

.monolith-columns__list
  display table
  width 100%
  max-width 800px

.route-value
  padding 5px

.monolith-columns__list__member
  display table-row
  border-top 1px solid gray-lightest-color
  border-bottom 1px solid gray-lightest-color

.monolith-columns__list__member__attr
  display table-cell
  padding 4px 0

@media only screen and (max-width : 600px)
  .layout__content__main--console
    left 0px

  .monolith-columns__list__member__attr, .monolith-columns__list__member
    display block
