@import '../../../components/stylus_lib'

.layout__content__main--console
  monospace()
  min-height 100%
  position absolute
  width 100%
  left 110px
  padding 20px

.layout__content__main--console__columns
  color #000

  h3
    font-weight normal
    color green-color

.monolith-columns__list
  display table
  width 100%
  max-width 800px

.monolith-columns__list__member
  display table-row

.monolith-columns__list__member__attr
  display table-cell
