@import '../../stylus_lib'

*
  box-sizing border-box

a
  text-decoration none
  color black

.layout__sidebar
  garamond()
  position fixed
  height 100%
  left 0
  top 0
  background-color #000
  width 110px
  padding 10px 0px
  color white
  text-align center
  font-size 1.17em

  img
    max-width 80%

.layout__content
  padding-left 110px

.layout__content__header
  avant-garde()
  padding 40px 0px
  text-align center
  border-bottom 1px solid gray-lightest-color


.avant-garde-button
  avant-garde()
  display inline-block
  position relative
  padding 7px 15px
  font-size 13px
  line-height 1
  cursor pointer
  border none
  background-color gray-color
  color white

.bordered-input
  garamond()
  border 2px solid gray-lighter-color
  border-radius 0
  box-shadow none
  font-size default-garamond-font-size
  background-color transparent
