.layout__content
  padding-left 110px

.layout__content__header
  avant-garde()
  padding 40px 0px
  text-align center
  border-bottom 1px solid gray-lightest-color

@media only screen and (max-width : 600px)
  body, html
    padding 0
    margin 0

  .layout__content
    padding-left 0px
    max-width 100%