extend ../../../components/layout/templates/index

block content
  .layout__content__header
    .layout__content__header__title Monolith Console

  .layout__content__main.layout__content__main--console

    .layout__content__main--console__columns
      //- rendered by client