extend ../../../components/layout/templates/index

block content
  .layout__content__header
    .layout__content__header__title Monolith Console

  .layout__content__main.layout__content__main--console

    h2.monolith-header All Monoliths
    .layout__content__main--console__columns
      //- rendered by client

    h2.monolith-header Feed Monoliths
    .layout__content__main--console__columns_feed
      //- rendered by client

    h2.monolith-header Schedule Monoliths
    .layout__content__main--console__columns_schedule
      //- rendered by client