h3.online-status Online
.monolith-columns__list
  if members.length
    for member in members
      .monolith-columns__list__member(data-name="#{member.name}")
        .monolith-columns__list__member__attr= member.name
        .monolith-columns__list__member__attr= member.connected_at
        .monolith-columns__list__member__attr: button.avant-garde-button.reset Reset
  else
    span No monoliths online

