@import '../../../components/stylus_lib'


.layout__content__header__tags
  garamond()
  font-size 12px
  margin-top 30px

.layout__content__header__tags__list

  .tag
    margin 0 5px
    background-color gray-lightest-color
    border-radius 20px
    display inline-block
    padding 8px

  .tag__remove
    avant-garde()
    margin-left 8px
    font-size 9px

  &.is-loading:after
    content "Loading tags..."

  &:before
    content "Tags:"
    font-weight bold
    margin-right 5px

.layout__content__header__tags__form
  margin-top 30px

.layout__content__main--feed__toggle
  avant-garde()
  font-size 12px
  text-align center
  margin 30px 0

  &:before
    garamond()
    content "View:"
    display inline-block

  span
    display inline-block
    margin 0 3px
    cursor pointer

  span.is-active
    border-bottom 2px solid #ccc

.entry
  margin 50px auto
  width 408px
  border 1px solid gray-lighter-color

.entry__table
  display table
  table-layout fixed
  white-space nowrap

.entry__row
  display table-row

.entry__cell
  display table-cell
  text-align center
  vertical-align middle
  overflow-x hidden
  overflow-y hidden
  width 400px

.entry__cell.entry__tools
  avant-garde()
  min-width 100px
  max-width 100px
  border-right 1px solid gray-lighter-color
  vertical-align top
  padding 30px 0
  font-size 12px

  a
    display block
    width 100%
    text-decoration none
    color gray-color

  a:hover
    color green-light-color

.entry__tools__approve

  &:before
    content "✓"
    display block
    padding 10px 0px

  &:after
    content "Approve"

.entry.entry--approved .entry__tools__approve
  color green-color

  &:after
    content "Approved"

.entry__content
  garamond()
  font-size 14px

.entry__content__image
  text-align center

  img
    display block

.entry__content__author
  avant-garde()
  text-align left
  padding 10px
  padding-bottom 0
  font-size 11px
  float left

.entry__content__date
  avant-garde()
  text-align left
  padding 10px
  padding-bottom 0
  font-size 11px
  float right
  color gray-color

.entry__content__caption
  text-align left
  padding 10px
  white-space normal
  word-break break-word
  clear both